/**
 * Release of Lamborghini Design Tokens Version 1.5.0 - 13/02/2025
 */

:root .dark {
  --global-brand-brand-1: #ffffff;
  --global-brand-brand-2: #000000;
  --global-active-active-1: #ffc000;
  --global-active-active-2: #cc9a00;
  --global-active-active-3: #997300;
  --global-grey-grey-1: #f5f5f5;
  --global-grey-grey-2: #dcdcdc;
  --global-grey-grey-3: #c4c4c4;
  --global-grey-grey-4: #ababab;
  --global-grey-grey-5: #969696;
  --global-grey-grey-6: #7d7d7d;
  --global-grey-grey-7: #626262;
  --global-grey-grey-8: #494949;
  --global-grey-grey-9: #313131;
  --global-grey-grey-10: #181818;
  --global-grey-grey-0: #ffffff;
  --global-grey-grey-11: #000000;
  --global-signal-signal-alert-1: #e62d37;
  --global-signal-signal-warning-1: #ff822d;
  --global-signal-signal-info-1: #2d73d7;
  --global-signal-signal-success-1: #37d200;
  --global-signal-signal-alert-2: #c91821;
  --global-signal-signal-alert-3: #9b121a;
  --global-miscellaneous-blu-1: #1e90ff;
  --surface-surface-1: #181818;
  --surface-surface-2: #313131;
  --surface-surface-3: #494949;
  --surface-surface-0: #000000;
  --typography-text-1: #f5f5f5;
  --typography-text-2: #dcdcdc;
  --typography-text-3: #c4c4c4;
  --typography-text-4: #ababab;
  --typography-text-5: #969696;
  --typography-label-1: #000000;
  --typography-label-2: #ffffff;
  --typography-label-accent-1: #ffc000;
  --typography-label-alert-1: #e62d37;
  --interactive-base-base-default: #ffffff;
  --interactive-base-base-hover: #c4c4c4;
  --interactive-base-base-focus: #ffffff;
  --interactive-base-base-pressed: #f5f5f5;
  --interactive-base-base-disabled: #969696;
  --interactive-base-base-focus-border: #1e90ff;
  --interactive-base-base-default-2: #000000;
  --interactive-accent-accent-default: #ffc000;
  --interactive-accent-accent-hover: #997300;
  --interactive-accent-accent-focus: #ffc000;
  --interactive-accent-accent-pressed: #cc9a00;
  --interactive-semantic-danger-default: #e62d37;
  --interactive-semantic-danger-hover: #9b121a;
  --interactive-semantic-danger-focus: #e62d37;
  --interactive-semantic-danger-pressed: #c91821;
  --stroke-stroke-1: #7d7d7d;
  --stroke-stroke-2: #626262;
  --stroke-stroke-3: #494949;
  --stroke-stroke-4: #313131;
  --on-surface-base-on-surface-1: #ffffff;
  --on-surface-base-on-surface-2: #f5f5f5;
  --on-surface-base-on-surface-3: #c4c4c4;
  --on-surface-base-on-surface-4: #7d7d7d;
  --on-surface-base-on-surface-5: #181818;
  --on-surface-base-on-surface-6: #000000;
  --on-surface-signal-on-surface-signal-alert: #e62d37;
  --on-surface-signal-on-surface-signal-warning: #ff822d;
  --on-surface-signal-on-surface-signal-info: #2d73d7;
  --on-surface-signal-on-surface-signal-success: #37d200;
}

:root .light {
  --global-brand-brand-1: #000000;
  --global-brand-brand-2: #ffffff;
  --global-active-active-1: #917300;
  --global-active-active-2: #665100;
  --global-active-active-3: #423500;
  --global-grey-grey-1: #181818;
  --global-grey-grey-2: #313131;
  --global-grey-grey-3: #494949;
  --global-grey-grey-4: #626262;
  --global-grey-grey-5: #7d7d7d;
  --global-grey-grey-6: #969696;
  --global-grey-grey-7: #ababab;
  --global-grey-grey-8: #c4c4c4;
  --global-grey-grey-9: #dcdcdc;
  --global-grey-grey-10: #f5f5f5;
  --global-grey-grey-0: #000000;
  --global-grey-grey-11: #ffffff;
  --global-signal-signal-alert-1: #dc1e28;
  --global-signal-signal-warning-1: #f5a500;
  --global-signal-signal-info-1: #2328ff;
  --global-signal-signal-success-1: #23a046;
  --global-signal-signal-alert-2: #af1820;
  --global-signal-signal-alert-3: #821218;
  --global-miscellaneous-blu-1: #1e90ff;
  --surface-surface-1: #f5f5f5;
  --surface-surface-2: #dcdcdc;
  --surface-surface-3: #c4c4c4;
  --surface-surface-0: #ffffff;
  --typography-text-1: #181818;
  --typography-text-2: #313131;
  --typography-text-3: #494949;
  --typography-text-4: #626262;
  --typography-text-5: #7d7d7d;
  --typography-label-1: #ffffff;
  --typography-label-2: #000000;
  --typography-label-accent-1: #917300;
  --typography-label-alert-1: #dc1e28;
  --interactive-base-base-default: #000000;
  --interactive-base-base-hover: #494949;
  --interactive-base-base-focus: #000000;
  --interactive-base-base-pressed: #181818;
  --interactive-base-base-disabled: #7d7d7d;
  --interactive-base-base-focus-border: #1e90ff;
  --interactive-base-base-default-2: #ffffff;
  --interactive-accent-accent-default: #917300;
  --interactive-accent-accent-hover: #423500;
  --interactive-accent-accent-focus: #917300;
  --interactive-accent-accent-pressed: #665100;
  --interactive-semantic-danger-default: #dc1e28;
  --interactive-semantic-danger-hover: #821218;
  --interactive-semantic-danger-focus: #dc1e28;
  --interactive-semantic-danger-pressed: #af1820;
  --stroke-stroke-1: #969696;
  --stroke-stroke-2: #ababab;
  --stroke-stroke-3: #c4c4c4;
  --stroke-stroke-4: #dcdcdc;
  --on-surface-base-on-surface-1: #000000;
  --on-surface-base-on-surface-2: #313131;
  --on-surface-base-on-surface-3: #494949;
  --on-surface-base-on-surface-4: #969696;
  --on-surface-base-on-surface-5: #f5f5f5;
  --on-surface-base-on-surface-6: #ffffff;
  --on-surface-signal-on-surface-signal-alert: #dc1e28;
  --on-surface-signal-on-surface-signal-warning: #f5a500;
  --on-surface-signal-on-surface-signal-info: #2328ff;
  --on-surface-signal-on-surface-signal-success: #23a046;
}

:root {
  --gradient-1: linear-gradient(180deg, #18181833 0%, #181818 100%);
  --gradient-2: linear-gradient(180deg, #1818181a 56.08%, #181818 100%);
  --gradient-3: linear-gradient(180deg, #00000000 0%, #f5f5f5 100%);
  --gradient-4: linear-gradient(180deg, #00000000 41.23%, #f5f5f5 100%);
  --gradient-header: linear-gradient(180deg, #f5f5f5 0%, #18181800 100%);
  --gradient-top: linear-gradient(180deg, #ffffff 9.72%, #00000000 63.89%);
  --gradient-bottom: linear-gradient(180deg, #00000000 0%, #000000 100%);
  --scale-spacing-0: 0.25rem;
  --scale-spacing-1: 0.5rem;
  --scale-spacing-2: 1rem;
  --scale-spacing-3: 1.5rem;
  --scale-spacing-4: 2rem;
  --scale-spacing-5: 2.5rem;
  --scale-spacing-6: 3rem;
  --scale-spacing-7: 3.5rem;
  --scale-spacing-8: 4rem;
  --scale-spacing-none: 0rem;
  --scale-spacing-9: 4.5rem;
  --scale-spacing-10: 5rem;
  --scale-spacing-11: 5.5rem;
  --scale-spacing-grid: 3.75rem;
  --opacity-alpha-0: 0;
  --opacity-alpha-10: 0.1;
  --opacity-alpha-20: 0.2;
  --opacity-alpha-30: 0.3;
  --opacity-alpha-40: 0.4;
  --opacity-alpha-50: 0.5;
  --opacity-alpha-60: 0.6;
  --opacity-alpha-70: 0.7;
  --opacity-alpha-80: 0.8;
  --opacity-alpha-90: 0.9;
  --opacity-alpha-100: 1;
  --border-stroke-stroke-0: 0px;
  --border-stroke-stroke-1: 1px;
  --border-stroke-stroke-2: 2px;
  --border-stroke-stroke-3: 4px;
  --border-stroke-stroke-4: 8px;
  --border-radius-radius-0: 0px;
  --border-radius-radius-1: 4px;
  --border-radius-radius-2: 8px;
  --border-radius-radius-4: 16px;
  --font-families-lambotype-variable: 'Lambotype Variable';
  --font-families-lambotype-variable-0: 'Lambotype Variable Bold';
  --font-families-lambotype-variable-1: 'Lambotype Variable UltraCnd Bold';
  --font-families-lambotype-variable-2: 'Lambotype Variable UltraCnd Black';
  --font-families-lambotype-variable-3: 'Lambotype Variable Cnd Bold';
  --font-families-lambotype-variable-4: 'Lambotype Variable Regular';
  --font-families-lambotype-variable-5: 'Lambotype Variable Italic';
  --line-heights-0: 6.25rem;
  /* 100 */
  --line-heights-1: 5rem;
  /* 80 */
  --line-heights-2: 3.75rem;
  /* 60 */
  --line-heights-3: 6.875rem;
  /* 110 */
  --line-heights-4: 4.375rem;
  /* 70 */
  --line-heights-5: 2.375rem;
  /* 38 */
  --line-heights-6: 7.875rem;
  /* 126 */
  --line-heights-7: 5.625rem;
  /* 90 */
  --line-heights-8: 3.125rem;
  /* 50 */
  --line-heights-9: 4rem;
  /* 64 */
  --line-heights-10: 2.75rem;
  /* 44 */
  --line-heights-11: 2.875rem;
  /* 46 */
  --line-heights-12: 2.125rem;
  /* 34 */
  --line-heights-13: 2.3125rem;
  /* 37 */
  --line-heights-14: 1.75rem;
  /* 28 */
  --line-heights-15: 1.625rem;
  /* 26 */
  --line-heights-16: 1.375rem;
  /* 22 */
  --line-heights-17: 1.25rem;
  /* 20 */
  --font-size-0: 0.625rem;
  /* 10 */


  --font-size-1: 0.75rem;
  /* 12 */
  --font-size-2: 1rem;
  /* 16 */
  --font-size-3: 1.125rem;
  /* 18 */
  --font-size-4: 1.5rem;
  /* 24 */
  --font-size-5: 1.6875rem;
  /* 27 */
  --font-size-6: 1.75rem;
  /* 28 */
  --font-size-7: 2.125rem;
  /* 34 */
  --font-size-8: 2.25rem;
  /* 36 */
  --font-size-9: 2.5rem;
  /* 40 */
  --font-size-10: 3rem;
  /* 48 */
  --font-size-11: 3.125rem;
  /* 50 */
  --font-size-12: 3.375rem;
  /* 54 */
  --font-size-13: 3.75rem;
  /* 60 */
  --font-size-14: 4.375rem;
  /* 70 */
  --font-size-15: 5rem;
  /* 80 */
  --font-size-16: 5.625rem;
  /* 90 */
  --font-size-17: 7.5rem;
  /* 120 */
  --font-size-18: 8.5rem;
  /* 136 */
  --letter-spacing-0: 0px;
  --letter-spacing-1: 0;
  --letter-spacing-2: 0.36px;
  --paragraph-spacing-0: 0;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --paragraph-indent-0: 0px;
}
