:root {
  --primary-1: #e60000;
  --primary-2: #ffffff;
  --primary-3: #4a4d4e;
  --primary-4: #25282b;
  --primary-5: #bd0000;
  --secondary-1: #00697c;
  --secondary-2: #5e2750;
  --secondary-3: #eb6100;
  --secondary-4: #fecb00;
  --secondary-5: #008a00;
  --secondary-6: #9c2aa0;
  --secondary-7: #bd0000;
  --base-1: #25282b;
  --base-2: #7e7e7e;
  --base-3: #bebebe;
  --base-4: #f2f2f2;
  --base-5: #ffffff;
  --base-6: #f9f9f9;
  --dark-transparent: #00000000;
  --dark-5: #0000000d;
  --dark-10: #0000001a;
  --dark-25: #00000040;
  --dark-50: #00000080;
  --dark-75: #000000cc;
  --light-transparent: #ffffff00;
  --light-5: #ffffff0d;
  --light-10: #ffffff1a;
  --light-25: #ffffff40;
  --light-50: #ffffff80;
  --light-75: #ffffffcc;
  --error: #bd0000;
  --success: #008a00;
  --focus: #0096ad;
  --incomplete: #bebebe;
  --info: #005ea5;
  --warning: #eb6100;
  --lg-1: clamp(4.8rem, 3.0792rem + 4.5283vw, 9.6rem);
  --lg-2: clamp(4rem, 2.2792rem + 4.5283vw, 8.8rem);
  --lg-3: clamp(3.6rem, 2.0226rem + 4.1509vw, 8rem);
  --lg-4: clamp(3.2rem, 1.7660rem + 3.7736vw, 7.2rem);
  --md-1: clamp(2.8rem, 1.5094rem + 3.3962vw, 6.4rem);
  --md-2: clamp(2.4rem, 1.2528rem + 3.0189vw, 5.6rem);
  --md-3: clamp(2rem, 0.9962rem + 2.6415vw, 4.8rem);
  --md-4: clamp(2rem, 1.2830rem + 1.8868vw, 4rem);
  --sm-1: clamp(2rem, 1.5698rem + 1.1321vw, 3.2rem);
  --sm-2: clamp(1.6rem, 1.3132rem + 0.7547vw, 2.4rem);
  --sm-3: clamp(1.2rem, 1.0566rem + 0.3774vw, 1.6rem);
  --sm-4: clamp(0.8rem, 0.6566rem + 0.3774vw, 1.2rem);
  --xs-1: clamp(0.8rem, 0.8000rem + 0.0000vw, 0.8rem);
  --xs-2: clamp(0.4rem, 0.4000rem + 0.0000vw, 0.4rem);
  --nil: clamp(0rem, 0.0000rem + 0.0000vw, 0rem);
  --radius-nil: 0px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 16px;
  --radius-xxl: 24px;
  --background-section: var(--base-5);
  --background-panel: var(--base-5);
  --background-card: var(--base-5);
  --background-card-hover: var(--base-1);
  --background-brightcove: var(--base-5);
  --color-display: var(--base-1);
  --panel-radius: var(--radius-sm);
  --card-radius: var(--radius-sm);
  --image-radius: var(--radius-sm);
  --color-headline: var(--base-1);
  --color-body: var(--base-1);
  --color-body-secondary: var(--base-2);
  --color-utility: var(--dark-75);
  --color-quote: var(--base-1);
  --color-stats: var(--primary-1);
  --color-pictogram: var(--base-1);
  --button-radius: var(--radius-xxl);
  --input-radius: var(--radius-sm);
  --card-shadow-colour: var(--dark-50);
  --card-shadow-offset: var(--radius-nil);
  --card-shadow-blur: var(--radius-nil);
  --panel-shadow-colour: var(--dark-50);
  --panel-shadow-offset: var(--radius-nil);
  --panel-shadow-blur: var(--radius-nil);
  --color-brightcove: var(--base-5);
  --primitive-family-titles: "Vodafone";
  --primitive-family-body: "Vodafone";
  --primitive-weight-light: "Light";
  --primitive-weight-regular: "Regular";
  --primitive-weight-medium: "Medium";
  --primitive-weight-semi-bold: "Semi Bold";
  --primitive-weight-bold: "Bold";
  --primitive-weight-extra-bold: "Extra Bold";
  --bg-text-font-size: clamp(4.8rem, 1.3585rem + 9.0566vw, 14.4rem);
  --display-xl-font-size: clamp(5.6rem, 3.0906rem + 6.6038vw, 12.6rem);
  --bg-text-line-height: clamp(6rem, 3.7774rem + 5.8491vw, 12.2rem);
  --display-l-font-size: clamp(3.6rem, 1.6642rem + 5.0943vw, 9rem);
  --display-xl-line-height: clamp(5.2rem, 2.9774rem + 5.8491vw, 11.4rem);
  --display-l-line-height: clamp(3.6rem, 1.8792rem + 4.5283vw, 8.4rem);
  --bg-text-font-family: var(--primitive-family-titles);
  --bg-text-letter-spacing: -1px;
  --display-xl-letter-spacing: -1px;
  --display-l-letter-spacing: 0px;
  --display-xl-font-family: var(--primitive-family-titles);
  --display-l-font-family: var(--primitive-family-titles);
  --bg-text-weight: var(--primitive-weight-extra-bold);
  --display-xl-weight: var(--primitive-weight-extra-bold);
  --display-l-weight: var(--primitive-weight-extra-bold);
  --display-m-font-size: clamp(2.8rem, 2.0830rem + 1.8868vw, 4.8rem);
  --display-m-line-height: clamp(3rem, 2.2113rem + 2.0755vw, 5.2rem);
  --display-m-letter-spacing: 0px;
  --display-m-font-family: var(--primitive-family-titles);
  --display-m-weight: var(--primitive-weight-light);
  --display-s-font-size: clamp(2.4rem, 1.8264rem + 1.5094vw, 4rem);
  --display-s-line-height: clamp(3rem, 2.4981rem + 1.3208vw, 4.4rem);
  --display-s-letter-spacing: 0px;
  --display-s-font-family: var(--primitive-family-titles);
  --display-s-weight: var(--primitive-weight-light);
  --headline-l-font-size: clamp(2rem, 1.5698rem + 1.1321vw, 3.2rem);
  --headline-l-line-height: clamp(2.6rem, 2.0981rem + 1.3208vw, 4rem);
  --headline-l-letter-spacing: 0px;
  --headline-l-font-family: var(--primitive-family-titles);
  --headline-l-weight: var(--primitive-weight-bold);
  --headline-m-font-size: clamp(1.8rem, 1.5849rem + 0.5660vw, 2.4rem);
  --headline-m-line-height: clamp(2.2rem, 1.9132rem + 0.7547vw, 3rem);
  --headline-m-letter-spacing: 0px;
  --headline-m-font-family: var(--primitive-family-titles);
  --headline-m-weight: var(--primitive-weight-bold);
  --headline-s-font-size: clamp(1.6rem, 1.4566rem + 0.3774vw, 2rem);
  --headline-s-line-height: clamp(2rem, 1.7849rem + 0.5660vw, 2.6rem);
  --headline-s-letter-spacing: 0px;
  --headline-s-font-family: var(--primitive-family-titles);
  --headline-s-weight: var(--primitive-weight-bold);
  --body-l-font-size: clamp(1.8rem, 1.5849rem + 0.5660vw, 2.4rem);
  --body-l-line-height: clamp(2.6rem, 2.2415rem + 0.9434vw, 3.6rem);
  --body-l-letter-spacing: 0px;
  --body-l-font-family: var(--primitive-family-body);
  --body-l-weight: var(--primitive-weight-regular);
  --body-m-font-size: clamp(1.6rem, 1.5283rem + 0.1887vw, 1.8rem);
  --body-m-line-height: clamp(2.4rem, 2.2566rem + 0.3774vw, 2.8rem);
  --body-m-letter-spacing: 0px;
  --body-m-font-family: var(--primitive-family-body);
  --body-m-weight: var(--primitive-weight-regular);
  --body-s-font-size: clamp(1.4rem, 1.3283rem + 0.1887vw, 1.6rem);
  --body-s-line-height: clamp(1.8rem, 1.6566rem + 0.3774vw, 2.2rem);
  --body-s-letter-spacing: 0px;
  --body-s-font-family: var(--primitive-family-body);
  --body-s-weight: var(--primitive-weight-regular);
  --body-xs-font-size: clamp(1.2rem, 1.1283rem + 0.1887vw, 1.4rem);
  --body-xs-line-height: clamp(1.8rem, 1.7283rem + 0.1887vw, 2rem);
  --body-xs-letter-spacing: 0px;
  --body-xs-font-family: var(--primitive-family-body);
  --body-xs-weight: var(--primitive-weight-regular);
  --quote-l-font-size: clamp(2.4rem, 1.5396rem + 2.2642vw, 4.8rem);
  --quote-l-line-height: clamp(3.6rem, 2.7396rem + 2.2642vw, 6rem);
  --quote-l-letter-spacing: 0px;
  --quote-l-font-family: var(--primitive-family-titles);
  --quote-l-weight: var(--primitive-weight-light);
  --quote-m-font-size: clamp(2rem, 1.8566rem + 0.3774vw, 2.4rem);
  --quote-m-line-height: clamp(2.8rem, 2.5849rem + 0.5660vw, 3.4rem);
  --button-font-size: clamp(1.2rem, 1.0566rem + 0.3774vw, 1.6rem);
  --quote-m-letter-spacing: 0px;
  --quote-m-font-family: var(--primitive-family-titles);
  --quote-m-weight: var(--primitive-weight-light);
  --nav-l-font-size: clamp(2.2rem, 2.2000rem + 0.0000vw, 2.2rem);
  --button-line-height: clamp(2rem, 1.8566rem + 0.3774vw, 2.4rem);
  --button-letter-spacing: 0px;
  --button-font-family: var(--primitive-family-titles);
  --button-weight: var(--primitive-weight-extra-bold);
  --nav-l-line-height: clamp(2.4rem, 2.4000rem + 0.0000vw, 2.4rem);
  --nav-l-letter-spacing: 0px;
  --nav-l-font-family: var(--primitive-family-titles);
  --nav-l-weight: var(--primitive-weight-regular);
  --nav-m-font-size: clamp(1.8rem, 1.8000rem + 0.0000vw, 1.8rem);
  --nav-m-line-height: clamp(2.4rem, 2.4000rem + 0.0000vw, 2.4rem);
  --nav-m-letter-spacing: 0px;
  --nav-m-font-family: var(--primitive-family-titles);
  --nav-m-weight: var(--primitive-weight-regular);
  --nav-s-font-size: clamp(1.6rem, 1.6000rem + 0.0000vw, 1.6rem);
  --stat-xl-suffix-font-size: clamp(3.6rem, 2.0226rem + 4.1509vw, 8rem);
  --nav-s-line-height: clamp(2rem, 2.0000rem + 0.0000vw, 2rem);
  --stat-xl-font-size: clamp(5.2rem, 4.5547rem + 1.6981vw, 7rem);
  --nav-s-letter-spacing: 0px;
  --stat-l-font-size: clamp(4.2rem, 3.6264rem + 1.5094vw, 5.8rem);
  --nav-s-font-family: var(--primitive-family-titles);
  --stat-m-font-size: clamp(2.8rem, 2.0830rem + 1.8868vw, 4.8rem);
  --nav-s-weight: var(--primitive-weight-regular);
  --breadcrumb-default-font-size: clamp(1.2rem, 1.1283rem + 0.1887vw, 1.4rem);
  --breadcrumb-default-line-height: clamp(1.6rem, 1.4566rem + 0.3774vw, 2rem);
  --breadcrumb-default-letter-spacing: 0px;
  --breadcrumb-default-font-family: var(--primitive-family-body);
  --breadcrumb-default-weight: var(--primitive-weight-regular);
  --breadcrumb-active-font-size: clamp(1.2rem, 1.1283rem + 0.1887vw, 1.4rem);
  --breadcrumb-active-line-height: clamp(1.6rem, 1.4566rem + 0.3774vw, 2rem);
  --breadcrumb-active-letter-spacing: 0px;
  --breadcrumb-active-font-family: var(--primitive-family-body);
  --breadcrumb-active-weight: var(--primitive-weight-bold);
  --tag-font-size: clamp(1rem, 0.9283rem + 0.1887vw, 1.2rem);
  --icon-font-size: clamp(1.8rem, 1.5849rem + 0.5660vw, 2.4rem);
  --tag-line-height: clamp(1.4rem, 1.3283rem + 0.1887vw, 1.6rem);
  --stat-xl-suffix-line-height--2: clamp(2.5rem, 1.3887rem + 2.9245vw, 5.6rem);
  --stat-xl-line-height: clamp(5.4rem, 4.3962rem + 2.6415vw, 8.2rem);
  --tag-letter-spacing: 0px;
  --tag-font-family: var(--primitive-family-titles);
  --stat-xl-font-family: var(--primitive-family-titles);
  --stat-xl-suffix-font-family: var(--primitive-family-titles);
  --tag-weight: var(--primitive-weight-semi-bold);
  --stat-xl-letter-spacing: -1px;
  --stat-l-line-height: clamp(2.8rem, 1.4377rem + 3.5849vw, 6.6rem);
  --stat-xl-suffix-letter-spacing: 0px;
  --stat-xl-weight: var(--primitive-weight-extra-bold);
  --stat-l-letter-spacing: -1px;
  --stat-xl-suffix-weight: var(--primitive-weight-bold);
  --stat-l-font-family: var(--primitive-family-titles);
  --stat-l-weight: var(--primitive-weight-extra-bold);
  --stat-m-line-height: clamp(2.4rem, 1.5396rem + 2.2642vw, 4.8rem);
  --stat-m-letter-spacing: -1px;
  --stat-m-font-family: var(--primitive-family-titles);
  --stat-m-weight: var(--primitive-weight-extra-bold);
  --section-title-font-size: clamp(1.4rem, 1.1132rem + 0.7547vw, 2.2rem);
  --section-title-line-height: clamp(1.8rem, 1.4415rem + 0.9434vw, 2.8rem);
  --section-title-letter-spacing: 0px;
  --section-title-font-family: var(--primitive-family-titles);
  --section-title-weight: var(--primitive-weight-extra-bold);
  --label-font-size: clamp(1.2rem, 1.1283rem + 0.1887vw, 1.4rem);
  --label-line-height: clamp(1.4rem, 1.3283rem + 0.1887vw, 1.6rem);
  --label-letter-spacing: 0px;
  --label-font-family: var(--primitive-family-body);
  --label-weight: var(--primitive-weight-regular)
}
@media (min-width:768px) {
  :root {
    --radius-nil: 0px;
    --radius-xs: 2px;
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 20px;
    --radius-xl: 24px;
    --radius-xxl: 40px
  }
}
@media (min-width:1200px) {
  :root {
    --radius-nil: 0px;
    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 24px;
    --radius-xl: 40px;
    --radius-xxl: 60px
  }
}
.card-dark,
.panel-dark,
.section-dark,
.theme-dark {
  --background-section: var(--base-1);
  --background-panel: var(--base-1);
  --background-card: var(--primary-1);
  --background-card-hover: var(--base-2);
  --background-brightcove: var(--primary-1);
  --color-display: var(--base-5);
  --color-headline: var(--base-5);
  --color-body: var(--base-5);
  --color-body-secondary: var(--base-3);
  --color-utility: var(--light-75);
  --color-quote: var(--base-5);
  --color-stats: var(--base-5);
  --color-pictogram: var(--base-5);
  --color-brightcove: var(--primary-1)
}
.card-light,
.panel-light,
.section-light,
.theme-light {
  --background-section: var(--base-5);
  --background-panel: var(--base-5);
  --background-card: var(--base-5);
  --background-card-hover: var(--base-1);
  --background-brightcove: var(--base-5);
  --color-display: var(--base-1);
  --color-headline: var(--base-1);
  --color-body: var(--base-1);
  --color-body-secondary: var(--base-2);
  --color-utility: var(--dark-75);
  --color-quote: var(--base-1);
  --color-stats: var(--primary-1);
  --color-pictogram: var(--base-1);
  --color-brightcove: var(--base-5)
}
:root {
  --gradient-1: linear-gradient(270deg, var(--primary-1) 0%, #820000 100%);
  --gradient-2: linear-gradient(90deg, var(--primary-1) 0%, #820000 100%);
  --gradient-3: linear-gradient(180deg, var(--primary-1) 2%, #820000 95.33%);
  --gradient-4: linear-gradient(180deg, #820000 1%, var(--primary-1) 100%);
  --gradient-5: linear-gradient(53deg, #820000 7.57%, var(--primary-1) 96.14%);
  --gradient-bottom-light: linear-gradient(180deg, var(--light-transparent) 0%, var(--base-5) 100%);
  --gradient-top-light: linear-gradient(180deg, var(--base-5) 0%, var(--light-transparent) 100%);
  --gradient-left-light: linear-gradient(90deg, var(--base-5) 0%, var(--light-transparent) 100%);
  --gradient-right-light: linear-gradient(270deg, var(--base-5) 0%, var(--light-transparent) 100%);
  --gradient-bottom-dark: linear-gradient(180deg, var(--dark-transparent) 0%, var(--base-1) 100%);
  --gradient-top-dark: linear-gradient(180deg, var(--base-1) 0%, var(--dark-transparent) 100%);
  --gradient-left-dark: linear-gradient(90deg, var(--base-1) 0%, var(--dark-transparent) 100%);
  --gradient-right-dark: linear-gradient(270deg, var(--base-1) 0%, var(--dark-transparent) 100%);
  --gradient-bottom-dark-red: linear-gradient(0deg, #820000 0.85%, var(--dark-transparent) 100%);
  --gradient-bottom-full-width-red: linear-gradient(0deg, #820000 0.85%, var(--dark-transparent) 100%);
  --none: none;
  --xs: 0px 4px 8px -2px rgba(0, 0, 0, 0.10),0px 2px 4px -2px rgba(0, 0, 0, 0.06);
  --sm: 0px 4px 8px -2px rgba(0, 0, 0, 0.10),0px 2px 4px -2px rgba(0, 0, 0, 0.06);
  --md: 0px 12px 16px -4px rgba(0, 0, 0, 0.08),0px 4px 6px -2px rgba(0, 0, 0, 0.03);
  --lg: 0px 20px 24px -4px rgba(0, 0, 0, 0.08),0px 8px 8px -4px rgba(0, 0, 0, 0.03);
  --xl: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
  --xxl: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
  --primitive-weight-light: 300;
  --primitive-weight-regular: 400;
  --primitive-weight-medium: 500;
  --primitive-weight-semi-bold: 600;
  --primitive-weight-bold: 700;
  --primitive-weight-extra-bold: 800;
  --light-gray: #e6e6e6;
  --medium-gray: #dadada
}
.vodafone-foundation {
  --radius-lg: 14px;
  --display-xl-line-height: clamp(4.6rem, 2.4132rem + 5.7547vw, 10.7rem);
  --display-l-line-height: clamp(4rem, 1.8849rem + 5.566vw, 9.9rem);
  --display-m-weight: var(--primitive-weight-extra-bold);
  --display-s-weight: var(--primitive-weight-extra-bold);
  --headline-l-weight: var(--primitive-weight-extra-bold);
  --headline-m-weight: var(--primitive-weight-extra-bold);
  --headline-s-weight: var(--primitive-weight-extra-bold);
  --quote-l-font-size: clamp(2.4rem, 2.1132rem + 0.7547vw, 3.2rem);
  --quote-l-line-height: clamp(2.9rem, 2.434rem + 1.2264vw, 4.2rem);
  --quote-l-weight: var(--primitive-weight-extra-bold);
  --quote-m-weight: var(--primitive-weight-extra-bold);
  --nav-l-weight: var(--primitive-weight-extra-bold);
  --nav-m-weight: var(--primitive-weight-extra-bold);
  --stat-xl-font-size: clamp(5.8rem, 5.0113rem + 2.0755vw, 8rem);
  --nav-s-weight: var(--primitive-weight-extra-bold);
  --stat-xl-line-height: clamp(4.6rem, 3.9547rem + 1.6981vw, 6.4rem);
  --stat-xl-suffix-weight: var(--primitive-weight-extra-bold);
  --section-title-font-size: clamp(1.4rem, 1.1849rem + 0.566vw, 2rem);
  --section-title-weight: var(--primitive-weight-semi-bold);
  --background-card: var(--base-4);
  --background-card-hover: var(--primary-5);
  --color-pictogram: var(--primary-1)
}
@media (min-width:768px) {
  .vodafone-foundation {
    --radius-lg: 16px
  }
}
@media (min-width:1200px) {
  .vodafone-foundation {
    --radius-lg: 18px
  }
}
.vodafone-foundation .card-dark,
.vodafone-foundation .panel-dark,
.vodafone-foundation .section-dark,
.vodafone-foundation .theme-dark {
  --background-card-hover: var(--primary-5)
}
.vodafone-foundation .card-light,
.vodafone-foundation .panel-light,
.vodafone-foundation .section-light,
.vodafone-foundation .theme-light {
  --background-card: var(--base-4);
  --background-card-hover: var(--primary-5);
  --color-pictogram: var(--primary-1)
}