._1g89o320{font:var(--_1tsb0ye67);letter-spacing:var(--_1tsb0ye69);text-transform:var(--_1tsb0ye68);color:var(--_1tsb0ye6a)}
._1g89o322{color:var(--_1tsb0ye1fb)}
._1g89o323{color:var(--_1tsb0ye1fc)}
._1nf0fr30{display:var(--_1tsb0yeso);font:var(--_1tsb0ye6i);letter-spacing:var(--_1tsb0ye6k);text-transform:var(--_1tsb0ye6j);color:var(--_1tsb0ye6l);border:var(--_1tsb0ye6m);border-radius:var(--_1tsb0ye6n);padding:var(--_1tsb0ye6o);white-space:pre}
._1nf0fr31{font:var(--_1tsb0ye6i);letter-spacing:var(--_1tsb0ye6k);text-transform:var(--_1tsb0ye6j);white-space:pre;color:var(--_1tsb0ye63);margin-right:5px}
._1g647670{z-index:2;position:relative}
._1g647671{fill:var(--_1tsb0ye2);margin-top:-3px;padding-left:6px;display:inline}
.jelpep0{display:var(--_1tsb0ye1fd);column-gap:var(--_1tsb0ye1fe);row-gap:var(--_1tsb0ye1ff);align-items:var(--_1tsb0ye1fg);line-height:var(--_1tsb0ye1fh);flex-wrap:wrap;position:relative}
.jelpep1{margin:0 .75em}
.jelpep2:before{content:"|";color:var(--_1tsb0ye6h);margin:0 .75em}
.jelpep3{margin:0}
._19wv7tc5:has(+.jelpep3){margin-right:1em}
.jelpep4{margin-bottom:var(--_1tsb0ye4g)}
.jelpep5{margin-bottom:var(--_1tsb0ye4j)}
.jelpepb{color:var(--_1tsb0ye63)}
.jelpepc{fill:currentColor;color:var(--_1tsb0ye63);width:12px;height:12px;margin-top:-2px;margin-right:2px;display:inline}
.jelpepd{margin-top:var(--_1tsb0ye4h)}
.jelpepe{margin-top:var(--_1tsb0ye4k)}
.jelpepd>:first-child._1044qizs{margin-left:0}
._1d4s5vd0{color:var(--_1tsb0ye2)}
._1d4s5vd1{font:var(--_1tsb0ye20);letter-spacing:var(--_1tsb0ye21)}
._1d4s5vd2{font:var(--_1tsb0ye2c);letter-spacing:var(--_1tsb0ye2d)}
._1d4s5vd3{font:var(--_1tsb0ye2k);letter-spacing:var(--_1tsb0ye2l)}
._1d4s5vd4{font:var(--_1tsb0ye3c);letter-spacing:var(--_1tsb0ye3d)}
._1d4s5vd5{font:var(--_1tsb0ye3s);letter-spacing:var(--_1tsb0ye3t)}
._1d4s5vd6{font:var(--_1tsb0ye2s);letter-spacing:var(--_1tsb0ye2t)}
._1d4s5vd7{font:var(--_1tsb0ye30);letter-spacing:var(--_1tsb0ye31)}
._1d4s5vd8{font:var(--_1tsb0ye34);letter-spacing:var(--_1tsb0ye35)}
._1d4s5vd9{font:var(--_1tsb0ye3o);letter-spacing:var(--_1tsb0ye3p)}
._1d4s5vda{font:var(--_1tsb0ye44);letter-spacing:var(--_1tsb0ye45)}
._1d4s5vdb{color:var(--_1tsb0ye2);font:var(--_1tsb0ye48);letter-spacing:var(--_1tsb0ye49)}
._1d4s5vdc{color:var(--_1tsb0ye3)}
._1d4s5vdd{margin-top:var(--_1tsb0ye4i)}
._1d4s5vde{margin-top:var(--_1tsb0ye4l)}
._1d4s5vdf{font:var(--_1tsb0ye24);letter-spacing:var(--_1tsb0ye25)}
._1d4s5vdg{font:var(--_1tsb0ye28);letter-spacing:var(--_1tsb0ye29)}
._1d4s5vdh{font:var(--_1tsb0ye2g);letter-spacing:var(--_1tsb0ye2h)}
._1d4s5vdi{font:var(--_1tsb0ye3g);letter-spacing:var(--_1tsb0ye3h);color:var(--_1tsb0ye2)}
._1d4s5vdj{font:var(--_1tsb0ye3w);letter-spacing:var(--_1tsb0ye3x);color:var(--_1tsb0ye2)}
._1d4s5vdk{font:var(--_1tsb0ye2o);letter-spacing:var(--_1tsb0ye2p)}
._1d4s5vdl{font:var(--_1tsb0ye2w);letter-spacing:var(--_1tsb0ye2x)}
._1d4s5vdm{font:var(--_1tsb0ye38);letter-spacing:var(--_1tsb0ye39)}
._1d4s5vdn{font:var(--_1tsb0ye3k);letter-spacing:var(--_1tsb0ye3l);color:var(--_1tsb0ye2)}
._1d4s5vdo{font:var(--_1tsb0ye40);letter-spacing:var(--_1tsb0ye41);color:var(--_1tsb0ye2)}
._1d4s5vdp{margin-top:var(--_1tsb0ye4l);font:var(--_1tsb0ye4c);letter-spacing:var(--_1tsb0ye4d)}
._1d4s5vdq{white-space:nowrap}
@media screen and (min-width:1180px){._1d4s5vd1{font:var(--_1tsb0ye22);letter-spacing:var(--_1tsb0ye23)}._1d4s5vd2{font:var(--_1tsb0ye2e);letter-spacing:var(--_1tsb0ye2f)}._1d4s5vd3{font:var(--_1tsb0ye2m);letter-spacing:var(--_1tsb0ye2n)}._1d4s5vd4{font:var(--_1tsb0ye3e);letter-spacing:var(--_1tsb0ye3f)}._1d4s5vd5{font:var(--_1tsb0ye3u);letter-spacing:var(--_1tsb0ye3v)}._1d4s5vd6{font:var(--_1tsb0ye2u);letter-spacing:var(--_1tsb0ye2v)}._1d4s5vd7{font:var(--_1tsb0ye32);letter-spacing:var(--_1tsb0ye33)}._1d4s5vd8{font:var(--_1tsb0ye36);letter-spacing:var(--_1tsb0ye37)}._1d4s5vd9{font:var(--_1tsb0ye3q);letter-spacing:var(--_1tsb0ye3r)}._1d4s5vda{font:var(--_1tsb0ye46);letter-spacing:var(--_1tsb0ye47)}._1d4s5vdb{font:var(--_1tsb0ye4a);letter-spacing:var(--_1tsb0ye4b)}._1d4s5vdf{font:var(--_1tsb0ye26);letter-spacing:var(--_1tsb0ye27)}._1d4s5vdg{font:var(--_1tsb0ye2a);letter-spacing:var(--_1tsb0ye2b)}._1d4s5vdh{font:var(--_1tsb0ye2i);letter-spacing:var(--_1tsb0ye2j)}._1d4s5vdi{font:var(--_1tsb0ye3i);letter-spacing:var(--_1tsb0ye3j)}._1d4s5vdj{font:var(--_1tsb0ye3y);letter-spacing:var(--_1tsb0ye3z)}._1d4s5vdk{font:var(--_1tsb0ye2q);letter-spacing:var(--_1tsb0ye2r)}._1d4s5vdl{font:var(--_1tsb0ye2y);letter-spacing:var(--_1tsb0ye2z)}._1d4s5vdm{font:var(--_1tsb0ye3a);letter-spacing:var(--_1tsb0ye3b)}._1d4s5vdn{font:var(--_1tsb0ye3m);letter-spacing:var(--_1tsb0ye3n)}._1d4s5vdo{font:var(--_1tsb0ye42);letter-spacing:var(--_1tsb0ye43)}._1d4s5vdp{font:var(--_1tsb0ye4e);letter-spacing:var(--_1tsb0ye4f)}}
._1j7g5t30{top:10px;right:10px}
@keyframes _1ra7jrq0{0%{opacity:0;transform:scale(.8)translateY(8px)rotate(-2deg)}60%{opacity:.9;transform:scale(1.02)translateY(-1px)rotate(.5deg)}to{opacity:1;transform:scale(1)translateY(0)rotate(0)}}
._1ra7jrq1{animation:.6s cubic-bezier(.34,1.56,.64,1) _1ra7jrq0}
._1ra7jrq2{pointer-events:none;z-index:5;background-color:var(--_1tsb0ye6p);color:var(--_1tsb0ye6q);text-align:center;border-radius:2px 2px 2px 0;flex-direction:column;justify-content:center;align-items:center;min-width:34px;padding:8px 8px 6px;position:absolute;top:-8px;left:-8px}
._1ra7jrq2:after{content:"";z-index:4;border-right:8px solid #0000;border-bottom:8px solid var(--_1tsb0ye6p);width:0;height:0;display:block;position:absolute;bottom:-8px;left:0;transform:rotate(90deg)}
._1ra7jrq3{font:var(--_1tsb0ye6r);letter-spacing:var(--_1tsb0ye6t);text-transform:var(--_1tsb0ye6s);font-size:18px}
._1ra7jrq4{font:var(--_1tsb0ye6u);letter-spacing:var(--_1tsb0ye6w);text-transform:var(--_1tsb0ye6v);display:none}
@container _1cnxcye2 (min-width:150px){._1ra7jrq2{min-width:46px;top:-10px;left:-10px}._1ra7jrq2:after{border-bottom-width:11px;border-right-width:11px;bottom:-11px}._1ra7jrq3{font-size:24px}}
@container _1cnxcye2 (min-width:300px){._1ra7jrq2{padding:6px}._1ra7jrq2:after{border-bottom-width:17px;border-right-width:17px;bottom:-17px}._1ra7jrq3{font-size:37px}._1ra7jrq4{font-size:13px;display:block}}
@container _1cnxcye2 (min-width:500px){._1ra7jrq2{border-radius:4px 4px 4px 0;padding:10px;top:-20px;left:-20px}._1ra7jrq2:after{border-bottom-width:28px;border-right-width:28px;bottom:-28px}._1ra7jrq3{font-size:58px}._1ra7jrq4{font-size:20px}}
._1ismqj0{border-bottom:var(--_1tsb0ye1l);padding:var(--_1tsb0ye14b);position:relative}
._1ismqj1{flex-direction:row-reverse;justify-content:space-between;display:flex}
._1ismqj2{justify-content:flex-start;display:flex}
._1ismqj3{min-height:130px;display:flow-root}
._1ismqj5{border-bottom:var(--_1tsb0ye14i);padding:var(--_1tsb0ye14g);position:relative}
._1ismqj6{height:var(--_1tsb0ye149);align-self:center;position:relative}
._1ismqj7{margin-left:16px}
._1ismqj8{align-self:flex-start;margin-right:16px}
._1ismqj9{float:right;margin:0 0 0 20px}
._1ismqja{display:none;position:relative}
._1ismqjb{aspect-ratio:1}
._1ismqjc{aspect-ratio:1}
._1ismqjd{aspect-ratio:3/2}
._1ismqje{aspect-ratio:4/3}
._1ismqjg{display:none}
._1ismqjh img{border:var(--_1tsb0yenp);border-radius:var(--_1tsb0yenq)}
._1ismqji{flex-grow:1;align-self:center}
._1ismqjj{padding-top:0}
._1ismqjk{padding-bottom:0}
._1ismqjl{border-bottom:none}
._1ismqjm{align-self:flex-start}
._1ismqjo{display:none}
@media (min-width:768px){._1ismqj0{padding:var(--_1tsb0ye14c)}._1ismqj5{padding:var(--_1tsb0ye14h)}._1ismqjj{padding-top:0}._1ismqjk{padding-bottom:0}}
@container x96f280 (min-width:0){._1ismqj0{padding:var(--_1tsb0ye14d)}}
@container x96f280 (min-width:600px){._1ismqj0{padding:var(--_1tsb0ye14f)}._1ismqj6{height:var(--_1tsb0ye14a)}}
@container x96f280 (min-width:700px){._1ismqj0{padding:var(--_1tsb0ye14e)}._1ismqj3{flex-direction:row-reverse;justify-content:space-between;display:flex}._1ismqj6{height:130px}._1ismqj9{float:none;margin:0 0 0 20px}._1ismqjc{aspect-ratio:3/2}._1ismqjf{display:none}._1ismqjg{display:block}._1ismqjn{display:none}._1ismqjo{display:block}}
/*# sourceMappingURL=0w2vv7d5iluv8.css.map*/