.duet--ad-container--default{padding:35px 0 25px;position:relative}
.duet--ad-container--default:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:15px;left:50%;transform:translate(-50%)}
.o1ls92{padding:0;position:relative}
.o1ls92 .m-ad:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:-20px;left:50%;transform:translate(-50%)}
.duet--ad-container--no-padding{padding:0;position:relative}
.duet--ad-container--no-padding:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:-20px;left:50%;transform:translate(-50%)}
.o1ls93{border-bottom:var(--_1tsb0yek2);padding:35px 0 25px;position:relative}
.o1ls93 .m-ad:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:-20px;left:50%;transform:translate(-50%)}
.duet--ad-container--border-bottom{border-bottom:var(--_1tsb0yek2);padding:35px 0 25px;position:relative}
.duet--ad-container--border-bottom:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:15px;left:50%;transform:translate(-50%)}
.o1ls94{border-top:var(--_1tsb0yek2);padding:35px 0 25px;position:relative}
.o1ls94 .m-ad:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:-20px;left:50%;transform:translate(-50%)}
.duet--ad-container--border-top{border-top:var(--_1tsb0yek2);padding:35px 0 25px;position:relative}
.duet--ad-container--border-top:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:15px;left:50%;transform:translate(-50%)}
.o1ls95{border-top:var(--_1tsb0yek2);border-bottom:var(--_1tsb0yek2);background:var(--_1tsb0yek3);padding:35px 18px 25px;position:relative}
.o1ls95 .m-ad:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:-20px;left:50%;transform:translate(-50%)}
.duet--ad-container--background-border{border-top:var(--_1tsb0yek2);border-bottom:var(--_1tsb0yek2);background:var(--_1tsb0yek3);padding:35px 18px 25px;position:relative}
.duet--ad-container--background-border:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:15px;left:50%;transform:translate(-50%)}
.o1ls96{background:var(--_1tsb0yek3);padding:60px 18px 50px;position:relative}
.o1ls96 .sponsored-content:before{content:"sponsored content";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:-30px;left:50%;transform:translate(-50%)}
.duet--ad-container--sponsored-content{background:var(--_1tsb0yek3);padding:60px 18px 50px;position:relative}
.duet--ad-container--sponsored-content:before{content:"sponsored content";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:30px;left:50%;transform:translate(-50%)}
.duet--override-column-margins-full-width{width:auto;margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px}
.duet--ad-container--background-border-no-label{border-top:var(--_1tsb0yek2);border-bottom:var(--_1tsb0yek2);background:var(--_1tsb0yek3);padding:35px 18px;position:relative}
.o1ls97{background:var(--_1tsb0yek3);border-bottom:var(--_1tsb0yeqq);position:relative}
.o1ls97:after{content:"";height:8px;box-shadow:var(--_1tsb0yek4);pointer-events:none;z-index:1;position:absolute;bottom:0;left:0;right:0}
.duet--ad-container--background-boxshadow{background:var(--_1tsb0yek3);border-bottom:var(--_1tsb0yeqq);position:relative}
.duet--ad-container--background-boxshadow:after{content:"";height:8px;box-shadow:var(--_1tsb0yek4);pointer-events:none;z-index:1;position:absolute;bottom:0;left:0;right:0}
.o1ls98{width:auto;margin:0;padding:0}
.o1ls99{min-width:200px}
.o1ls9h{min-width:200px}
.o1ls9d .dfp_ad-wrapper--is-filled{padding-top:var(--_1tsb0yeqs)}
.o1ls9f .dfp_ad-wrapper--is-filled{padding-top:var(--_1tsb0yeqr)}
.o1ls9j{min-width:300px;min-height:50px}
.o1ls9k{margin-top:25px;margin-bottom:25px}
.o1ls9l{min-width:300px;min-height:50px}
.o1ls9m{margin-top:var(--_1tsb0yeqt);margin-bottom:var(--_1tsb0yequ)}
.o1ls9n{min-width:728px;min-height:90px}
.o1ls9o{margin-top:var(--_1tsb0yeqv);margin-bottom:var(--_1tsb0yeqw)}
.o1ls9p{min-width:728px;min-height:90px}
.o1ls9q{margin-bottom:48px}
.o1ls9r{min-width:728px;min-height:90px}
.o1ls9s{margin-bottom:48px}
.o1ls9t{min-width:300px;min-height:250px}
.o1ls9u{justify-content:center;align-items:center;display:flex}
.o1ls9v{align-items:center;min-width:728px;min-height:250px;display:flex}
.o1ls9w{width:100%;padding:var(--_1tsb0yer0);border-top:var(--_1tsb0yeqy);border-bottom:var(--_1tsb0yeqz)}
.o1ls9x{min-width:300px;min-height:250px}
.o1ls9y{margin-bottom:25px}
.o1ls9z{min-width:300px;min-height:250px}
.o1ls910{margin-top:var(--_1tsb0yere);margin-bottom:40px}
.o1ls911{min-width:728px;min-height:90px}
.o1ls912{margin-top:var(--_1tsb0yerc);margin-bottom:var(--_1tsb0yerd)}
.o1ls913{min-width:728px;min-height:90px}
.o1ls914{margin-top:60px;margin-bottom:60px}
.o1ls915{min-width:728px;min-height:90px}
.o1ls916{margin-top:var(--_1tsb0yera);margin-bottom:40px}
.o1ls917{min-width:728px;min-height:90px}
.o1ls918{margin-top:var(--_1tsb0yer9);margin-bottom:70px}
.o1ls919{min-width:728px;min-height:90px}
.o1ls91a{margin-bottom:var(--_1tsb0yer7)}
.o1ls91b{min-width:300px;min-height:250px}
.o1ls91c{margin-bottom:var(--_1tsb0yer8)}
.o1ls91d{min-width:300px;min-height:250px}
.o1ls91e{margin-bottom:var(--_1tsb0yer4)}
.o1ls91f{min-width:620px;min-height:170px}
.o1ls91g{margin-bottom:var(--_1tsb0yer5);margin-top:var(--_1tsb0yer6)}
.o1ls91h{min-width:620px;min-height:170px}
.o1ls91j{min-width:620px;min-height:170px}
.o1ls91k{margin-bottom:var(--_1tsb0yer4);width:100%}
.o1ls91l{min-width:620px;min-height:90px}
.o1ls91m{margin-bottom:var(--_1tsb0yer2);margin-top:var(--_1tsb0yer3);width:100%}
.o1ls91n{min-width:620px;min-height:90px}
.o1ls91o{width:100%;margin-top:0;margin-bottom:0}
.o1ls91p{min-width:620px;min-height:90px}
.o1ls91q{position:sticky;top:40px}
.o1ls91r{min-width:300px;min-height:250px}
.o1ls91s{position:static;top:40px}
.o1ls91t{min-width:300px;min-height:250px}
.o1ls91u{margin-bottom:40px}
.o1ls91v{min-width:300px;min-height:250px}
.o1ls91w{margin-bottom:40px;position:sticky;top:40px}
.o1ls91x{min-width:300px;min-height:250px}
.o1ls91y{margin-bottom:40px;position:sticky;top:40px}
.o1ls91z{min-width:300px;min-height:600px}
.o1ls920{margin-bottom:40px;position:sticky;top:90px}
.o1ls921{min-width:300px;min-height:250px}
.o1ls922{margin-bottom:40px;position:sticky;top:40px}
.o1ls923{min-width:300px}
.o1ls924{margin-bottom:40px;position:sticky;top:90px}
.o1ls925{min-width:300px;min-height:250px}
.o1ls926{padding-bottom:40px}
.o1ls927{min-width:300px;min-height:100px}
.o1ls928{margin-bottom:40px}
.o1ls929{min-width:300px;min-height:250px}
.o1ls92a{margin-bottom:40px}
.o1ls92b{min-width:300px;min-height:250px}
.o1ls92c{position:absolute;top:8200px;bottom:40px;right:10px}
.o1ls92d{position:relative}
.o1ls92d:before{content:"";width:300px;height:6px;margin:auto;display:flex;position:absolute;top:50%}
.o1ls92e{display:flex}
.o1ls92f{display:flex}
.o1ls92g{display:none}
.o1ls92h{display:block}
.o1ls92i{display:none}
.o1ls92j{display:none}
.o1ls92k{display:none}
@media screen and (min-width:768px){.o1ls92d:before{width:728px;left:calc(50% - 364px)}.o1ls92f{display:none}.o1ls92g,.o1ls92j{display:block}.o1ls92k{display:flex}}
@media screen and (min-width:1180px){.o1ls9g{margin-left:auto}.o1ls92g,.o1ls92h{display:none}.o1ls92i{display:block}}
@media screen and (max-width:1180px){.o1ls9h .dfp_ad-wrapper--is-filled{margin-top:var(--_1tsb0ye124)}}
@media screen and (max-width:768px){.o1ls9h .dfp_ad-wrapper--is-filled{margin-bottom:var(--_1tsb0yeqx)}}
/*# sourceMappingURL=050h5ny89cqdj.css.map*/