.lfnrwm0{justify-self:flex-start;gap:4px;padding-top:8px;padding-bottom:8px;display:flex}
.lfnrwm1{text-transform:var(--_1tsb0ye17h);border-radius:20px;font-size:12px;font-weight:500;color:var(--_1tsb0ye17i)!important;background-color:var(--_1tsb0ye17j)!important;border:var(--_1tsb0ye17k)!important;font-family:var(--_1tsb0ye17f)!important;letter-spacing:var(--_1tsb0ye17g)!important}
.lfnrwm1 span{color:var(--_1tsb0ye17i)!important}
.lfnrwm2{color:var(--_1tsb0ye17n)!important;background-color:var(--_1tsb0ye17o)!important;border:var(--_1tsb0ye17p)!important}
.lfnrwm2:not(:hover) span{color:var(--_1tsb0ye17n)!important}
.lfnrwm3{padding-top:8px;padding-bottom:8px}
.lfnrwm4{align-items:center;display:inline-flex;position:relative}
.lfnrwm5{background-color:var(--_1tsb0ye5);z-index:0;border-radius:24px;width:100%;height:100%;position:absolute;top:0;left:0}
.lfnrwm6{z-index:1;cursor:pointer;background:var(--_1tsb0ye5);color:var(--_1tsb0ye17i);font-family:var(--_1tsb0ye17f);letter-spacing:1.5px;text-transform:uppercase;white-space:nowrap;border:none;border-radius:24px;margin:0;padding:6px 20px;font-size:11px;font-weight:600;line-height:200%;position:relative}
.lfnrwm6:focus-visible{outline:2px solid var(--_1tsb0ye0);outline-offset:2px}
.lfnrwm7{margin-left:-8px}
.lfnrwm8{z-index:2;background-color:var(--_1tsb0ye17o);color:var(--_1tsb0ye17n)}
@media (hover:hover) and (pointer:fine){.lfnrwm1:hover{background-color:var(--_1tsb0ye17m)!important;color:var(--_1tsb0ye17l)!important}}
.brwyil0{z-index:10960}
.brwyil1{background-color:var(--_1tsb0yea);border:1px solid #eee;border-radius:12px;flex-direction:column;display:flex;position:relative;box-shadow:0 4px 24px #00000040}
.brwyil2{cursor:pointer;background:0 0;border:0;justify-content:center;align-items:center;padding:0;display:flex}
.brwyil3{padding:15px;font-family:var(--_1tsb0ye17q)!important;color:var(--_1tsb0ye17r)!important}
.brwyil3:first-of-type{border-top-left-radius:12px;border-top-right-radius:12px}
.brwyil3:last-of-type{border-bottom-right-radius:12px;border-bottom-left-radius:12px}
.brwyil4{opacity:0;transform:translateY(100%)}
.brwyil5{opacity:1;transition:opacity .2s ease-out;transform:translateY(0%)scale(1)}
.brwyil6{opacity:1;transform:translateY(0%)scale(1)}
.brwyil7{opacity:0;transition:opacity .2s ease-in;transform:translateY(100%)}
.czpqwz0{width:100%;max-width:700px;min-height:100vh;margin:15px auto}
.czpqwz1{border-bottom:var(--_1tsb0ye12a);justify-content:space-between;align-items:center;display:flex}
.czpqwz2{padding-bottom:var(--_1tsb0ye11t);flex-direction:row;align-items:center;gap:12px;display:flex}
.czpqwz3{justify-content:space-between;align-items:center;display:flex}
.czpqwz4{font-size:22px}
.czpqwz5{padding-bottom:var(--_1tsb0ye11t);flex-direction:row;justify-content:flex-end;align-items:center;gap:20px;display:flex}
.czpqwz6{display:block}
@media screen and (min-width:1180px){.czpqwz2{padding-bottom:var(--_1tsb0ye11v)}}
@media screen and (min-width:901px){.czpqwz6{display:none}}
/*# sourceMappingURL=3t2ae_oxgfl95.css.map*/