.sh1kne0{margin:-15px;padding:15px;display:inline-flex}
.sh1kne1{color:var(--_1tsb0yebf);fill:var(--_1tsb0ye2);font:var(--_1tsb0yebc);text-transform:var(--_1tsb0yebd);letter-spacing:var(--_1tsb0yebe);white-space:nowrap;align-items:center;column-gap:8px;display:inline-flex}
.sh1kne0:hover:not(:disabled) .sh1kne1{color:var(--_1tsb0yebb)}
.sh1kne0:disabled .sh1kne1{opacity:.5}
.sh1kne0:hover:not(:disabled) .sh1kne1 *{fill:var(--_1tsb0yebb);color:var(--_1tsb0yebb)}
.sh1kne2{box-shadow:var(--_1tsb0yeb9)}
.sh1kne0:hover:not(:disabled) .sh1kne2{box-shadow:var(--_1tsb0yeba)}
.o1ls90{contain:layout style;width:100%;margin-left:auto;margin-right:auto;position:relative}
.m-ad{contain:layout style}
.o1ls91{padding:35px 0 25px;position:relative}
.o1ls91 .m-ad:before{content:"advertisement";color:var(--_1tsb0ye4);font:var(--_1tsb0yek5);letter-spacing:var(--_1tsb0yek7);text-transform:var(--_1tsb0yek6);position:absolute;top:-20px;left:50%;transform:translate(-50%)}
.bpecqn0>:nth-last-child(2){margin-bottom:0}
.bpecqn1{border-top:var(--_1tsb0yect);padding-top:var(--_1tsb0ye11c)}
.bpecqn2{border-top:var(--_1tsb0yed3);padding-top:var(--_1tsb0ye11k)}
.bpecqn3{border-top:var(--_1tsb0yedb);padding-top:var(--_1tsb0ye11s)}
.bpecqn4{border-top:var(--_1tsb0yedj);padding-top:var(--_1tsb0ye120)}
.bpecqn5{border-bottom:var(--_1tsb0ye12a)}
.bpecqn6{padding-bottom:var(--_1tsb0ye11d)}
.bpecqn7{padding-bottom:var(--_1tsb0ye11l)}
.bpecqn8{padding-bottom:var(--_1tsb0ye11t)}
.bpecqn9{padding-bottom:var(--_1tsb0ye121)}
.bpecqne{text-align:center;width:100%;margin:0 auto}
.bpecqnf{justify-content:space-between;align-items:center;column-gap:16px;display:flex}
.bpecqng{flex-direction:column;align-items:start}
.bpecqnh{align-items:center}
.bpecqni{margin-bottom:var(--_1tsb0ye11g)}
.bpecqnj{margin-bottom:var(--_1tsb0ye11o)}
.bpecqnk{margin-bottom:var(--_1tsb0ye11w)}
.bpecqnl{margin-bottom:var(--_1tsb0ye124)}
.bpecqnm{color:var(--_1tsb0ye2)}
.bpecqnn{color:var(--_1tsb0yecs);font:var(--_1tsb0yecm);letter-spacing:var(--_1tsb0yeco);text-transform:var(--_1tsb0yecn)}
.bpecqno{color:var(--_1tsb0yed2);font:var(--_1tsb0yecw);letter-spacing:var(--_1tsb0yecy);text-transform:var(--_1tsb0yecx)}
.bpecqnp{color:var(--_1tsb0yeda);font:var(--_1tsb0yed4);letter-spacing:var(--_1tsb0yed6);text-transform:var(--_1tsb0yed5)}
.bpecqnq{color:var(--_1tsb0yedi);font:var(--_1tsb0yedc);letter-spacing:var(--_1tsb0yede);text-transform:var(--_1tsb0yedd)}
.bpecqnr{font:var(--_1tsb0yedv);letter-spacing:var(--_1tsb0yedw)}
.bpecqns{color:var(--_1tsb0ye2);font:var(--_1tsb0yedp);letter-spacing:var(--_1tsb0yedr);text-transform:var(--_1tsb0yedq);margin-bottom:12px}
.bpecqnt{color:var(--_1tsb0ye2);font:var(--_1tsb0yecu);letter-spacing:var(--_1tsb0yecv);margin-bottom:12px}
.bpecqnu{margin-bottom:var(--_1tsb0ye11i)}
.bpecqnv{margin-bottom:var(--_1tsb0ye11q)}
.bpecqnw{margin-bottom:var(--_1tsb0ye11y)}
.bpecqnx{margin-bottom:var(--_1tsb0ye126);font:var(--_1tsb0yedk);letter-spacing:var(--_1tsb0yedl);color:var(--_1tsb0yedo)}
.bpecqny{font:var(--_1tsb0yedz);letter-spacing:var(--_1tsb0yee0)}
.bpecqnz{margin-top:-4px;line-height:1}
.bpecqn10{flex-shrink:0;align-self:flex-start;align-items:center;margin-top:6px;margin-left:auto;display:flex}
.bpecqn11{color:var(--_1tsb0yebf);box-shadow:var(--_1tsb0yeb9)}
.bpecqn12{color:var(--_1tsb0yebf);box-shadow:var(--_1tsb0yeb9)}
.bpecqn13{color:var(--_1tsb0yebf);box-shadow:var(--_1tsb0yeb9)}
.bpecqn14{color:var(--_1tsb0yebf);box-shadow:var(--_1tsb0yeb9)}
.bpecqn16{gap:var(--_1tsb0ye128);flex-wrap:wrap;display:flex}
.bpecqn17{justify-content:center}
.bpecqn18{padding:var(--_1tsb0yeca);font:var(--_1tsb0yecc);color:var(--_1tsb0yecf);background-color:var(--_1tsb0yecb);box-shadow:var(--_1tsb0yecl);letter-spacing:var(--_1tsb0yece);text-transform:var(--_1tsb0yecd);border:var(--_1tsb0yeck);border-radius:var(--_1tsb0yecj);white-space:nowrap}
.bpecqn18:hover{color:var(--_1tsb0yecg);background-color:var(--_1tsb0yech);border:var(--_1tsb0yeci)}
.bpecqn19{color:var(--_1tsb0yecg);background-color:var(--_1tsb0yech)}
@media screen and (min-width:1180px){.bpecqn1{padding-top:var(--_1tsb0ye11e)}.bpecqn2{padding-top:var(--_1tsb0ye11m)}.bpecqn3{padding-top:var(--_1tsb0ye11u)}.bpecqn4{padding-top:var(--_1tsb0ye122)}.bpecqn6{padding-bottom:var(--_1tsb0ye11f)}.bpecqn7{padding-bottom:var(--_1tsb0ye11n)}.bpecqn8{padding-bottom:var(--_1tsb0ye11v)}.bpecqn9{padding-bottom:var(--_1tsb0ye123)}.bpecqng{flex-direction:row;align-items:center}.bpecqnh{flex-direction:column;align-items:center}.bpecqni{margin-bottom:var(--_1tsb0ye11h)}.bpecqnj{margin-bottom:var(--_1tsb0ye11p)}.bpecqnk{margin-bottom:var(--_1tsb0ye11x)}.bpecqnl{margin-bottom:var(--_1tsb0ye125)}.bpecqnn{font:var(--_1tsb0yecp);letter-spacing:var(--_1tsb0yecr);text-transform:var(--_1tsb0yecq)}.bpecqno{font:var(--_1tsb0yecz);letter-spacing:var(--_1tsb0yed1);text-transform:var(--_1tsb0yed0)}.bpecqnp{font:var(--_1tsb0yed7);letter-spacing:var(--_1tsb0yed9);text-transform:var(--_1tsb0yed8)}.bpecqnq{font:var(--_1tsb0yedf);letter-spacing:var(--_1tsb0yedh);text-transform:var(--_1tsb0yedg)}.bpecqnr{font:var(--_1tsb0yedx);letter-spacing:var(--_1tsb0yedy)}.bpecqns{font:var(--_1tsb0yeds);letter-spacing:var(--_1tsb0yedu);text-transform:var(--_1tsb0yedt)}.bpecqnu{margin-bottom:var(--_1tsb0ye11j)}.bpecqnv{margin-bottom:var(--_1tsb0ye11r)}.bpecqnw{margin-bottom:var(--_1tsb0ye11z)}.bpecqnx{max-width:800px;margin-bottom:var(--_1tsb0ye127);font:var(--_1tsb0yedm);letter-spacing:var(--_1tsb0yedn)}.bpecqny{font:var(--_1tsb0yee1);letter-spacing:var(--_1tsb0yee2)}.bpecqn10{margin-top:12px}.bpecqn16{gap:var(--_1tsb0ye129)}}
/*# sourceMappingURL=2obpuahd5atnp.css.map*/